.account-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-edit {
  width: 60vw;
  height: 60vh;
  background-color: var(--background-color2);
}
