* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.account-container {
  width: 100vw;
  height: 100vh;
  background-color: lime;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-edit {
  width: 60vw;
  height: 60vh;
  background-color: limegreen;
}
