.cart {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: -100%;
  background-color: lime;
  z-index: 100;
  transition: all 0.3s linear;
}

.cart.active {
  left: 0%;
}

.show-cart {
  position: fixed;
  z-index: 10000;
  right: 10%;
  padding: 15px;
}

.cart-item {
  border-top: double;
  border-bottom: double;
  border-color: black;
  border-width: 10px;
  height: 20vh;
  width: 100%;
}

.total-div {
  width: 100%;
  background-color: limegreen;
  border-bottom: double;
  border-top: double;
  border-color: black;
}
